<main>
  <section>
    <div class="ur-welcome">
      <h1>Segundazo</h1>
      <h2>Lo más barato y fino que verá en el mercado, mi amor... Pásele</h2>
      <div class="ur-welcome__btn flex-wrap">
        <button
          mat-raised-button
          color="primary"
          routerLinkActive="router-link-active"
        >
          Quiero vender algo
        </button>
        <button mat-stroked-button color="primary">Vale mondá</button>
        <button
          mat-stroked-button
          color="primary"
          [routerLink]="['/nuevo']"
          routerLinkActive="router-link-active"
        >
          Crear nuevo producto
        </button>
      </div>
    </div>
    <div class="products">
      <h1>Productos en venta</h1>
      <div class="container">
        <ng-container *ngFor="let product of products; let i = index">
          <mat-card
            class="container__item"
            matRipple
            (click)="onSelect(product)"
          >
            <mat-card-header class="container__item--header">
              <mat-card-title>{{ product.title }}</mat-card-title>
              <mat-card-subtitle>{{ product.description }}</mat-card-subtitle>
            </mat-card-header>
            <img
              *ngIf="product.images.length > 0"
              mat-card-image
              [src]="product.images[0]"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content class="container__item--content">
              <p>
                {{ product.price | currency:'COP' }}
              </p>
            </mat-card-content>
            <!--         <mat-card-actions class="container__item--actions">
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions> -->
          </mat-card>
        </ng-container>
      </div>
    </div>
  </section>
</main>
