nav {
  margin: 0 auto;
  position: fixed;
  display: flex;
  top: 12px;
  z-index: 1;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  justify-content: center;
  transition: all 300ms ease;
  div {
  border-radius: 8px;
  display: flex;
  padding: 12px ;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  background-color: var(--mdc-elevated-card-container-color);
  justify-content: space-between;
  align-items: center;
  & h3 {
    font-family: 'Libre Baskerville', serif;
    margin: 0px;
  }
 }
}


nav.hide-nav {
  transform: translateY(-100%);
}
